:root {
    /* Colors */
    --color-success: rgba(89,  192, 89,  1);
    --color-warning: rgba(241, 165, 103, 1);
    --color-error:   rgba(241, 103, 103, 1);

    --color-background:            rgba(23,  23,  23,  1);
    --color-background_after:      rgba(58,  58,  58,  0.25);
    --color-background-div:        rgba(33,  33,  33,  1);
    --color-background-div_light:  rgba(54,  54,  54,  1);
    --color-background-info:       rgba(71,  88,  101, 1);
    --color-background-nav_mobile: rgba(16,  16,  16,  0.9);

    --color-text:        rgba(231, 231, 231, 1);
    --color-text_cyan:   rgba(0,   233, 255, 1);
    --color-text_green:  rgba(89,  192, 89,  1);
    --color-text_red:    rgba(241, 103, 103, 1);
    --color-text_orange: rgba(241, 165, 103, 1);
    --color-text_gold:   rgba(207, 165, 52,  1);

    --color-link:       rgba(241, 103, 103, 1);
    --color-link_light: rgba(241, 103, 103, 0.7);
    --color-link_white: rgba(255, 255, 255, 1);

    --color-btn:               rgba(241, 103, 103, 1);
    --color-btn_v_light:       rgba(241, 103, 103, 0.3);
    --color-btn_white_v_light: rgba(255, 255, 255, 0.05);
    --color-btn-discord:       rgba(88,  101, 242, 1);

    --color-separating-line_title: rgba(207, 165, 52,  0.6);
    --color-separating-line_box:   rgba(241, 103, 103, 0.6);

    --color-border-line_score: rgba(175, 175, 175, 0.3);
    --color-border-box:        rgba(107, 107, 107, 0.2);

    /* Size */
    --size-page-width:   1200px;
    --size-page-height:  100vh;
    --size-page-padding: 0 20px;

    --size-nav-height:      100px;
    --size-nav_logo-width:  100px;

    --size-content-height:     calc((var(--size-page-height) - var(--size-nav-height)) - var(--size-footer-height));
    --size-content-height-min: 300px;

    --size-footer-height:      60px;
    --size-footer_logo-width:  30px;

    --size-box_picture-width:         150px;
    --size-box_picture-width-mobile:  70px;
    --size-box_picture-height:        70px;
    --size-box_picture-height-mobile: 70px;
    --size-box_information-height:    70px;

    /* Transition */
    --trans-nav_mobile-left:  mobile-animated-left  0.4s;
    --trans-nav_mobile-right: mobile-animated-right 0.4s;

    /* Opacity */
    --opacity-line: 0.5;
}

*, *:before, *:after {
    margin:  0;
    padding: 0;

    box-sizing: border-box;
}
body {
    background-color: var(--color-background);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:       var(--color-text);

    overflow-x:      hidden;
    scroll-behavior: smooth;
}

/*** Text ***/
.text-green     { color: var(--color-text_green); }
.text-orange    { color: var(--color-text_orange); }
.text-red       { color: var(--color-text_red); }
.text-glow-cyan { text-shadow: 0 0 5px var(--color-text_cyan); }

.text-right { text-align: right; }
.text-left  { text-align: left; }

/*** Title ***/
h1 { font-size: 3em; }
h2 { font-size: 3.5em; }
.module-title-h1 {
    font-size: 2em;
    color:     var(--color-text);
}
.module-title-p {
    font-size: 0.7em;
    color:     var(--color-text_gold);
}

/*** Link ***/
a {
    display: inline-block;

    text-decoration: none;
    color:           var(--color-link_white);
}
.link-default-color {
    color: var(--color-link)!important;
}
.link-active {
    border-bottom: 1px solid var(--color-link_light);
}

/*** Button ***/
.btn {
    padding: .3rem .7rem;

    border-radius: 8px;
}
.btn-close {
    color: var(--color-text_red);
}
.btn-return {
    margin-bottom: 10px;
}
.btn-discord {
    background-color: var(--color-btn-discord);
}
.btn-discord-hover:hover {
    background-color: var(--color-btn-discord);
}
.btn-border-discord {
    border: 1px solid var(--color-btn-discord);
}

.btn-default-v_light {
    background-color: var(--color-btn_v_light);
}
.btn-default {
    background-color: var(--color-btn);
}
.btn-default-v_light-hover:hover {
    background-color: var(--color-btn_v_light);
}
.btn-light-v_light-hover:hover {
    background-color: var(--color-btn_white_v_light);
}

.btn-border-default-v_light {
    border: 1px solid var(--color-btn_v_light);
}

/*** Image and Video ***/
video {
    position:   fixed;
    object-fit: cover;
}
img {
    object-fit: cover;
}
.img-fixed {
    position: fixed;
}
.img-50-position {
    background-position: 50% 50%;
}
.logo {
    object-fit: contain;
}

/*** Usefully ***/
.hidden {
    display: none!important;
}
.wrapper {
    margin: auto;

    position: relative;
    overflow: hidden;
}
.absolute {
    top:  0;
    left: 0;

    position: absolute;
}
.full-device {
    min-width:  100vw;
    min-height: 100vh;
}
.half-device {
    height:     50vh;
    max-height: 50vh;
}
.blur {
    filter: blur(5px);
}
.full-container {
    width:  100%;
    height: 100%;
}

/*** Background ***/
.background-after_1-3:after {
    content: "";

    width:      100%;
    min-height: 100%;

    position: fixed;

    background: linear-gradient(180deg, var(--color-background_after), var(--color-background_after), var(--color-background));
}
.background-after_3-4:after {
    content: "";

    width:      100%;
    min-height: 100%;

    position: fixed;

    background: linear-gradient(180deg, var(--color-background_after), var(--color-background), var(--color-background), var(--color-background));
}
.background-gray {
    background-color: var(--color-background-div_light)!important;
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex-center {
    justify-content: center;
}
.flex-spaced {
    justify-content: space-between;
}
.flex-align-center {
    align-content: center;
    align-items:   center;
}
.flex-grow-2 {
    flex-grow: 2;
}

.emote {
    vertical-align: -0.15em;
}
.emote img {
    width:  1em;
    height: 1em;

    object-fit: contain;
}

.text-cut {
    overflow:      hidden;
    text-overflow: ellipsis;
    white-space:   nowrap;
}

.box-rounded {
    border-radius: 15px;
}
.box-full img {
    width:  100%;
    height: 100%;

    object-fit: cover;
}

.opacity-line {
    opacity: var(--opacity-line);
}


/*** BOX ***/
.box-full {
    width:         100%;
    margin-bottom: 20px;

    overflow: hidden;
}
.box-picture-full {
    width:  var(--size-box_picture-width-mobile);
    height: var(--size-box_picture-height-mobile);

    flex-shrink: 0;

    border-radius: 10px;

    overflow: hidden;
}
.box-information-full {
    min-width:  0;
    min-height: var(--size-box_information-height);
    height:     var(--size-box_information-height);
    padding:    0 10px;

    flex-grow: 2;
}
.box-title-full {
    flex-shrink: 0;

    font-size:   1.2em;
    font-weight: bold;
}
.box-description-full {
    flex-grow: 2;

    font-size: 0.7em;

    opacity: 0.8;
}
.box-time-slot-full {
    padding: 0 1px;

    flex-shrink: 0;

    font-size: 0.5em;
}
.box-button-full { flex-shrink: 0; }

.box-separator {
    min-width: 80px;
    max-width: 25%;
    height:    2px;
    margin:    10px 0 20px 0;

    background-color: var(--color-separating-line_box);
}
.box-information {
    padding: 10px;

    display: inline-flex;

    background-color: var(--color-background-info);

    font-size: 0.7em;
}
.box-information > * {
    margin-bottom: 5px;
}
.box-information > *:first-child {
    margin-bottom: 10px;
}
.box-information > *:last-child {
    margin-bottom: 0;
}

.box-rank {
    min-width:   110px;
    width:       150px;
    max-height:  50px;
    margin-left: 20px;

    display: inline-flex;

    background-color: var(--color-background-div);
}
.box-rank img {
    width:  25px;
    height: 25px;
    margin: 0 5px;
}

.box-team {
    width:      100%;
    max-height: 200px;
    padding:    10px;

    display:   none;
    flex-wrap: wrap;

    background: var(--color-background-div);
}
.box-team-player {
    width:         130px;
    height:        30px;
    margin-bottom: 5px;
}
.box-team-player img {
    width:        30px;
    height:       30px;
    margin-right: 5px;

    display: inline-block;
    float:   left;
}
.box-team-player p {
    display: block;
}
.box-team-player-name {
    font-size: 0.8em;
}
.box-team-player-role {
    font-size: 0.5em;

    opacity: 0.8;
}

/*** COLLAPSIBLE ***/
.collapsible {
    width:  100%;
    height: 60px;
    margin: 10px auto;

    border-radius: 15px;

    background: var(--color-background-div);

    overflow: hidden;

    cursor: pointer;
}
.collapsible:first-child {
    margin-top: 0;
}
.collapsible:last-child {
    margin-bottom: 0;
}
.collapsible:after {
    content: "\25BE";

    top:   18px;
    right: 10px;
    position: absolute;

    font-weight: bold;
    font-size:   1.5em;
    color:       white;

    z-index: 20;
}
.active {
    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
}
.active:after {
    content: "\25B4"!important;
}

.collapsible-background, .collapsible-background-dual {
    width:  100%;
    height: 100%;

    position: absolute;

    background: var(--color-background-div);

    overflow: hidden;
}
.collapsible-background:before, .collapsible-background-dual:before {
    content: "";

    width:  100%;
    height: 100%;

    position: absolute;

    background: var(--color-background-div);

    opacity: 0.9;

    z-index: 20;
}
.collapsible-background img {
    width:  100%;
    height: 100%;
}
.collapsible-background-dual img {
    width:  50%;
    height: 100%;
}
.collapsible-background-dual img:first-child {
    float: left;
}
.collapsible-background-dual img:last-child {
    float: right;
}

.collapsible-content {
    width:   100%;
    padding: 5px 10px;

    position: absolute;

    z-index: 20;
}
.collapsible-content-title {
    font-size:   0.6em;
    font-weight: bold;

    opacity: 0.5;
}
.collapsible-content-information {
    width:  100%;
    height: 40px;

    text-align:  center;
    font-size:   0.9em;
    font-weight: bold;
}
.collapsible-content-line {
    width:      100%;
    max-height: 0;
    margin:     -10px auto 0 auto;

    background: var(--color-background-div);

    color: var(--color-text);

    overflow: hidden;

    transition: max-height 0.2s ease-out;
}

.collapsible-secondary {
    height:        45px;
    margin-bottom: 10px;

    overflow: hidden;
    cursor:   pointer;
}
.collapsible-secondary:after {
    content: "\25BE";

    top:   10px;
    right: 10px;

    position: absolute;

    font-weight: bold;
    font-size:   1.5em;
    color:       white;

    z-index: 20;
}

.collapsible-secondary-line {
    width:   100%;
    padding: 10px;

    border-bottom: 1px dashed var(--color-border-line_score);

    color:  var(--color-text);

    overflow: hidden;
}
.collapsible-secondary-line-title {
    margin-top: -5px;

    font-size:   0.6em;
    font-weight: bold;

    opacity: 0.5;
}
.collapsible-secondary-line-title img {
    width:      20px;
    height:     20px;
    margin-top: 2px;

    position: absolute;

    object-fit: cover;

    opacity: 0.5;
}
.collapsible-secondary-line-information {
    width:      100%;
    margin-top: 5px;

    text-align:  center;
    font-size:   0.8em;
    font-weight: bold;
}
.collapsible-secondary-line-information img {
    width:  20px;
    height: 20px;

    object-fit: cover;

    opacity: 0.5;
}
.collapsible-secondary-line-information-player {
    height: 35px;
}
.collapsible-secondary-line-information-player:after {
    content: "\25BE";

    top:   5px;
    right: 10px;

    position: absolute;

    font-weight: bold;
    font-size:   1.5em;
    color:       white;

    z-index: 20;
}
.collapsible-secondary-line-information-player-rank {
    margin-left: 25px;
}
.collapsible-secondary-line-information-player-username {
    margin-left: 5px;
}
.collapsible-secondary-line-information-player-score {
    margin-right: 25px;
}

.Acc     { background-color: rgb(49,  151, 53);  }
.Mid     { background-color: rgb(28,  196, 175); }
.Classic { background-color: rgb(149, 31, 196);  }
.Tech    { background-color: rgb(196, 131, 31);  }
.Speed   { background-color: rgb(196, 31,  31);  }
.Low     { background-color: rgb(100, 182, 182); }
.Std     { background-color: rgb(111, 182, 100); }
.High    { background-color: rgb(182, 100, 100); }

.Easy       { background-color: #00a279; }
.Normal     { background-color: #3498db; }
.Hard       { background-color: #da6300; }
.Expert     { background-color: #de2d1b; }
.ExpertPlus { background-color: #6610f2; }

@media (min-width: 800px) and (min-height: 470px) {
    /*** Title ***/
    h1 {
        font-size: 5em;
    }

    /*** BOX ***/
    .box-picture-full {
        width:  var(--size-box_picture-width);
        height: var(--size-box_picture-height);
    }
    .box-team {
        width: 300px;
    }
}
@media (min-width: 330px) {
    /*** BOX ***/
    .box-team {
        display: flex;
    }
}